<div class="search-body">
  <mat-form-field>
    <input type="text"
           placeholder="Buscar aquí"
           aria-label="Number"
           matInput
           [matAutocomplete]="auto">
    <mat-autocomplete autoActiveFirstOption 
                      #auto="matAutocomplete"
                      (optionSelected)="1">
      <mat-option *ngFor="let user of users" 
                  [value]="user">
       qsweq
      </mat-option>
      <mat-option value="">
        No se encontró nada con el término
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>